<%- include('partials/header'); -%>

<h1>HOME</h1>
<p> <%= startingContent.substring(0, 100) + " ..." %> </p>

<% postsss.forEach(function (post) { %>
    <h1> <%= post.title %> </h1> 
    <p> 
    <%= post.content.substring(0, 100) + " ..." %> 
    <a href="/posts/<%= post.title %>" target="_blank" rel="noopener noreferrer">Read more</a>
    </p>
<% }) %>

<div>
    <form action="/" method="post">
        <button type="submit" class="btn btn-primary">Compose</button>
    </form>
</div>

<%- include('partials/footer'); -%>
